<div class="w-100 text-light bg-warning p-2 mb-2">Bookers</div>
<nav class="nav">
  <li class="nav-link"><%= link_to 'top', root_path %></li>
  <li class="nav-link">about</li>
  <li class="nav-link">books</li>
  <li class="nav-link">users</li>
</nav>



